# future: delete line below and extract dependencies below that to requirements-dev.txt when https://youtrack.jetbrains.com/issue/PY-9941/ is fixed
# only for development
black~=24.8.0
mypy~=1.11.1
mypy-extensions~=1.0.0
pathspec~=0.12.1
platformdirs~=4.2.2
pyinstaller~=6.10.0
setuptools~=72.2.0
types-beautifulsoup4~=4.12.0.20240511

annotated-types~=0.7.0
beartype~=0.18.5
beautifulsoup4~=4.12.3
plum-dispatch~=2.5.2
pylatexenc~=2.10
pyperclip~=1.9.0
rich~=13.7.1
Send2Trash~=1.8.3
typing-extensions~=4.12.2
